body {
    background-color: burlywood;
} 
.super-containers {
    display: flex;
    align-items: center;
    height: 100vh;  
}
.containers{
    display: flex;
}
section {
    display: flex;
    align-items: center;
    background-color: orangered;
    margin: 5px;
    padding: 50px;
    justify-content: center;
    flex-basis: auto;
}

section:first-child {
    flex: 1;
}
section:nth-child(2) {
    flex: 2;
}
section:nth-child(3) {
    flex: 1;
}
section:last-child {
    flex: 2;
}